.app__title {
  text-align: center;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}

.app__text {
  margin-bottom: 3rem;
}

.app__footer {
  width: 100%;
}

.app__footer-text {
  text-align: center;
  color: #757575;
  font-size: 0.8rem;
}

@media only screen and (min-width: 400px) {
  .app__container {
   min-height: 68vh;
  }
}

@media only screen and (min-width: 768px) {
  .app__title  {
      font-size: 4rem;
  }

  .app__footer-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1280px) {
  .app__title {
    font-size: 3rem;
  }

  .app__footer-text {
    font-size: 1rem;
  }
}